/* Documento */

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    gap: 5rem;
    width: 82rem;
}

/* Globales */
fieldset {
    border-width: 0;
    padding: 0;
}

a {
    color: #29636A;
}

label {
    display: block;
}

/* Logo */
.logo {
    padding-top: 5rem;   
}

/* Header */
.login {
    text-decoration: none;
}

/* Formulario */
.formulario {
    margin-bottom: 2rem;
}
.formulario-descripcion {
    margin-bottom: 1rem;
    font-weight: bold;
}
.formulario-campos {
    width: 100%;
    height: 4.5rem;
    border-color: #C7C5C3;
    border-style: solid;
    border-width: 0.1rem;
}



/* List */
ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 0 0 1rem;
    list-style: none;
}
ul li::before {
    content: "\25CF";
    color: #29636A;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}


/* Sing Up */
.sing-submit-input {
    padding: 1rem 4rem;
    background-color: #fff;
    cursor: pointer;
    border-color: #C7C5C3;
    border-style: solid;
    color: #C7C5C3;
    border-width: 0.1rem;
    
    font-size: 1.5rem;
}


    /* Sing Check */
.sing {
    display: flex;
    gap: 5rem;
}
.sing-check {
    display: flex;
    gap: 2rem;
}
